@model IEnumerable<MVC.Models.Order>

@{
    ViewData["Title"] = "OrderIndex";
}

<h1>OrderIndex</h1>

<p>
    <a asp-action="Sync">Refresh</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "SortBy", new { sort = Order.Sort.Name })
            </th>
            <th>
                @Html.ActionLink("Quantity", "SortBy", new { sort = Order.Sort.Quantity })
            </th>
            <th>
                @Html.ActionLink("Status", "SortBy", new { sort = Order.Sort.Status })
            </th>
            <th>
                @Html.ActionLink("Notes", "SortBy", new { sort = Order.Sort.Notes })
            </th>
            <th>
                @Html.ActionLink("Order Number", "SortBy", new { sort = Order.Sort.OrderNumber })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @if (item.OrderNumber == null)
                {
                    @Html.Raw("--")
                }
                else
                {
                    @Html.ActionLink(item.OrderNumber.ToString(), "InvoiceView", "Invoice", new { id = Invoice.GetByNumber((int)item.OrderNumber).Id })
                }
            </td>
        </tr>
}
    </tbody>
</table>
